/*----- reset -----*/
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
address,
em,
img,
strong,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
thead,
tbody,
tfoot,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  outline: 0;
  padding: 0;
}
:focus {
  outline: 0;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
img {
  vertical-align: top;
}
/*----- common -----*/
html,
body {
  height: 100%;
}
body {
  background-color: #fff;
  color: #000;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  line-height: 1.5em;
  font-size: .75em;
}
input,
select,
textarea {
  color: #38444f;
  font: normal normal 1em Arial, Helvetica, sans-serif;
}
input {
  border: 0;
}
input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:link,
a:visited {
  color: #114285;
}
a:hover {
  color: #94c03d;
}
a:link,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}
#head-container {
  padding: 29px 0px 26px;
}
#head-container #logo {
  text-align: center;
}
#head-container #logo a {
  display: inline-block;
  width: 358px;
  height: 75px;
  -webkit-transition: all .0s linear;
  -moz-transition: all .0s linear;
  -o-transition: all .0s linear;
  transition: all .0s linear;
  background: url('../img/front/logo-h.png') no-repeat 0px 0px;
  /* &:hover {
				background: url( '../img/front/logo.png' ) no-repeat 0px 0px;
				width:358px;
			} */
}
@media (max-width: 690px) {
  #head-container #logo a {
    width: 270px;
    background-size: 100% auto;
  }
}
.banner-ld-page {
  text-align: center;
  background-color: #00b6dc;
}
.banner-ld-page img {
  display: inline-block;
}
.training {
  height: 216px;
  background: url('../img/front/br-01.png') repeat-x 0px 0px;
}
@media (max-width: 690px) {
  .training {
    height: auto;
  }
}
.training img.img-banner {
  margin-top: -67px;
  width: auto;
  margin-left: -15px;
  height: auto;
  max-width: inherit;
}
@media (max-width: 690px) {
  .training img.img-banner {
    width: 100%;
    margin-top: -15px;
  }
}
.training .container-fluid {
  position: relative;
}
.training .block-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.training .block-link a {
  margin-top: 99px;
  display: inline-block;
  background-color: #ef801a;
  box-shadow: 0px 6px 0px #c66a19;
  padding: 23px 66px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.training .block-link a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.training .block-link a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
@media (max-width: 690px) {
  .training .block-link a {
    padding: 2px 18px;
    margin-top: 28px;
    box-shadow: 0px 3px 0px #c66a19;
    position: absolute;
    bottom: 18%;
    margin-left: -30px;
  }
  .training .block-link a img {
    width: 40px;
  }
}
.title-lp {
  background-color: #fff;
  text-align: center;
  padding: 19px 0px 60px;
}
@media (max-width: 690px) {
  .title-lp {
    padding-bottom: 28px;
  }
}
.title-lp img {
  display: inline-block;
}
@media (max-width: 690px) {
  .title-lp img {
    width: 90%;
  }
}
.step {
  text-align: center;
  border-top: 1px solid #e5e5e4;
}
.step img {
  display: inline-block;
}
@media (max-width: 690px) {
  .step img {
    width: 90%;
    margin-top: -4% !important;
  }
}
@media (max-width: 690px) {
  .step {
    border: none;
    background: none #fff;
  }
}
.step1 {
  background-color: #fff;
}
.step1 img {
  margin-top: -48px;
}
.step2,
.step4,
.step6,
.step8 {
  background: url('../img/front/br-04.png') repeat 0px 0px;
  border: none;
  padding: 50px 0px 67px;
}
@media (max-width: 690px) {
  .step2 img,
  .step4 img,
  .step6 img,
  .step8 img {
    width: 90%;
    margin-top: 0px !important;
  }
}
@media (max-width: 690px) {
  .step2,
  .step4,
  .step6,
  .step8 {
    padding: 17px 0px 20px !important;
  }
}
.step3 {
  background-color: #fff;
}
.step3 img {
  margin-top: -46px;
}
.step4 {
  padding: 28px 0px 66px;
}
.step5 {
  background-color: #fff;
}
.step5 img {
  margin-top: -46px;
}
.step6 {
  padding: 17px 0px 70px;
}
.step7 {
  background-color: #fff;
}
.step7 img {
  margin-top: -46px;
}
.step8 {
  padding: 27px 0px 69px;
}
.step9 {
  background-color: #fff;
  padding: 38px 0px 68px;
}
@media (max-width: 690px) {
  .step9 {
    padding-bottom: 20px;
  }
}
.step10 {
  background-color: #fff;
  padding: 38px 0px 28px;
}
.list-ldpage .title-list {
  height: 138px;
  background: url('../img/front/br-14.png') no-repeat center center #ffffff;
}
.list-ldpage .container-fluid {
  padding: 0px;
}
.list-ldpage .content-list {
  background: url('../img/front/br-15.png') repeat 0px 0px;
  padding: 38px 0px 167px;
}
@media (max-width: 690px) {
  .list-ldpage .content-list ul {
    padding: 0px 5px;
  }
}
.list-ldpage .content-list ul li {
  box-shadow: 0px 1px 0px #c66a19;
  margin-bottom: 21px;
}
.list-ldpage .content-list ul li .block-1,
.list-ldpage .content-list ul li .block-2 {
  position: relative;
  padding: 30px 29px 29px 111px;
  background-color: #fff;
  border-bottom: 1px solid #c7c4c4;
}
.list-ldpage .content-list ul li .block-1 span.icon,
.list-ldpage .content-list ul li .block-2 span.icon {
  position: absolute;
  top: 50%;
  left: 29px;
  margin-top: -33px;
  display: block;
  width: 67px;
  height: 67px;
  background: url('../img/front/br-16.png') no-repeat 0px 0px;
}
@media (max-width: 690px) {
  .list-ldpage .content-list ul li .block-1 span.icon,
  .list-ldpage .content-list ul li .block-2 span.icon {
    left: 19px;
  }
}
.list-ldpage .content-list ul li .block-1 p,
.list-ldpage .content-list ul li .block-2 p {
  min-height: 67px;
  display: table;
  width: 100%;
}
.list-ldpage .content-list ul li .block-1 p span,
.list-ldpage .content-list ul li .block-2 p span {
  font-size: 25px;
  color: #54a548;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 690px) {
  .list-ldpage .content-list ul li .block-1 p span,
  .list-ldpage .content-list ul li .block-2 p span {
    line-height: 30px;
  }
}
.list-ldpage .content-list ul li .block-2 {
  border: none;
}
.list-ldpage .content-list ul li .block-2 span.icon {
  background-position: left bottom;
}
.list-ldpage .content-list ul li .block-2 p span {
  color: #e78721;
  font-size: 16px;
}
.from-ldpage .title-from {
  margin-top: -157px;
  height: 157px;
  background: url('../img/front/br-17.png') no-repeat center center;
}
.from-ldpage .content {
  background: url('../img/front/br-18.png') repeat 0px 0px;
  min-height: 200px;
}
.from-ldpage .content .container-fluid {
  padding: 0px;
}
.from-ldpage .content .link-form {
  padding: 18px 0px;
  text-align: right;
  border-bottom: 1px solid #e5e5e4;
}
.from-ldpage .content .link-form.style {
  text-align: right;
  border: none;
}
.from-ldpage .content .link-form.style .block-link {
  width: 170px;
  text-align: left;
  display: inline-block;
}
.from-ldpage .content .link-form.style .block-link a {
  padding: 5px 0px;
  width: 170px;
  text-align: center;
}
.from-ldpage .content .link-form.style .block-link a:last-child {
  margin-top: 10px;
}
.from-ldpage .content .link-form.style .block-link a:only-child {
  margin-top: 0px;
}
.from-ldpage .content .link-form a {
  display: inline-block;
  background-color: #5f421e;
  color: #fff;
  padding: 5px 25px;
  border-radius: 3px;
}
.from-ldpage .content .link-form a:hover {
  opacity: 0.7;
}
.from-ldpage .content .title-content {
  margin: 32px 0px 25px;
  height: 68px;
  background: url('../img/front/br-19.png') no-repeat center center;
}
.from-ldpage .content .content-from {
  background-color: #fff;
  border-radius: 2px;
  padding: 36px 30px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from {
    padding: 30px 10px;
    margin: 0px 5px;
  }
}
.from-ldpage .content .content-from .content-from-title {
  text-align: center;
  padding-bottom: 8px;
  margin-bottom: 15px;
}
.from-ldpage .content .content-from .content-from-title h2 {
  font-size: 25px;
  color: #55ad47;
}
.from-ldpage .content .content-from .content-from-title span {
  display: block;
  font-size: 14px;
  color: #444444;
  margin-top: 8px;
}
.from-ldpage .content .content-from .content-from-title.fix {
  margin-top: 20px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-title h2 {
    font-size: 16px;
  }
}
.from-ldpage .content .content-from .content-from-how p.note {
  font-size: 14px;
  color: #5e411e;
  margin-bottom: 17px;
}
.from-ldpage .content .content-from .content-from-how .from tr td {
  padding: 19px 31px;
  border: 1px solid #e5e5e4;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td {
    display: block;
    width: 100% !important;
    padding: 10px !important;
    border: 1px solid #e5e5e4 !important;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td label {
  font-size: 14px;
  color: #444444;
  font-weight: normal;
}
.from-ldpage .content .content-from .content-from-how .from tr td input {
  border: 1px solid #e5e5e4;
  padding: 7px;
  width: 53%;
  border-radius: 3px;
}
.from-ldpage .content .content-from .content-from-how .from tr td input.w40 {
  width: 40%;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td input.w40 {
    width: 150px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td input:disabled {
  cursor: default;
  background-color: #FBFBFB;
}
.from-ldpage .content .content-from .content-from-how .from tr td textarea {
  border: 1px solid #e5e5e4;
  padding: 7px;
  min-height: 120px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td textarea {
    width: 100%;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td .red {
  color: #ce506f;
  font-size: 14px;
  padding-left: 10px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .black1 {
  color: #444444;
  font-size: 12px;
  padding-left: 10px;
  line-height: 14px;
  display: inline-block;
  overflow: hidden;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td .black1 {
    margin-top: 10px;
    padding-left: 0px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td .input-style {
  display: inline-block;
  float: left;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td .input-style {
    float: none;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td .black {
  color: #444444;
  font-size: 14px;
  display: block;
  padding-top: 5px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .black.style {
  font-size: 12px;
  margin: 0px 0px 10px 0px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .link {
  color: #444444;
  font-size: 14px;
  display: block;
  padding-top: 5px;
  text-decoration: underline;
}
.from-ldpage .content .content-from .content-from-how .from tr td .style-link {
  display: inline-block;
  background-color: #5f421e;
  color: #fff;
  padding: 5px 15px;
  border-radius: 3px;
  margin-left: 19px;
  /* pointer-events: none; */
}
.from-ldpage .content .content-from .content-from-how .from tr td .style-link:hover {
  opacity: 0.7;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td .style-link {
    margin-left: 5px;
    font-size: 9px;
    padding: 5px 9px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td.label-text {
  padding: 23px 14px 25px 31px;
  background-color: #e5e5e4;
  width: 31%;
  border: 1px solid #e5e5e4;
  border-bottom: 1px solid #fff;
}
.from-ldpage .content .content-from .content-from-how .from tr td.label-text span {
  display: inline-block;
  float: right;
  color: #fff;
  padding: 2px 11px;
  border-radius: 2px;
  background-color: #e78821;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.select span {
  color: #444444;
  font-size: 14px;
  padding-right: 5px;
  width: auto;
  display: inline-block;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.select span.style {
  color: #444344;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.select select {
  padding: 10px 0px;
  border-radius: 3px;
  font-size: 14px;
  width: 69px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.select select {
    width: 52px;
  }
  .from-ldpage .content .content-from .content-from-how .from tr td div.select select:first-child {
    width: 68px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.select select.w198 {
  width: 180px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.select .style {
    margin-top: 10px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input {
  margin-bottom: 19px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .select {
  display: inline;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .select select.w198 {
  width: 198px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input:last-child {
  margin-bottom: 0px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input.fix-padding {
  margin-bottom: 0px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .div-style {
  display: inline;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .div-style {
    display: block;
    margin-bottom: 19px;
  }
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .div-style:last-child {
    margin-bottom: 0px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input span {
  color: #444444;
  font-size: 14px;
  padding-right: 5px;
  width: 73px;
  display: inline-block;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input span.style {
  width: auto;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input span.style {
    margin-top: 10px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w198 {
  width: 198px;
  margin-right: 10px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w198 {
    width: 152px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w40 {
  width: 40px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w40.style {
  width: 100px;
  text-align: center;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w80 {
  width: 80px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w80 {
    width: 44px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w78 {
  width: 78px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w108 {
  width: 108px;
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w43 {
  width: 43px;
  text-align: right;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w43 {
    width: 78px;
    text-align: left;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w-auto {
  width: 33px;
}
@media (max-width: 690px) {
  .from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w-auto {
    width: 78px;
  }
}
.from-ldpage .content .content-from .content-from-how .from tr td div.block-input .w-auto1 {
  width: auto;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio {
  overflow: hidden;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio.margin-top {
  margin-top: 10px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w {
  width: 100%;
  float: left;
  overflow: hidden;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .style-a input {
  width: 40px;
  display: inline-block;
  margin: 0px 5px;
  padding: 3px;
  text-align: center;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio {
  overflow: hidden;
  margin-bottom: 6px;
  float: left;
  margin-right: 27px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio.margin {
  margin-top: 6px;
  margin-right: 7px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio:last-child {
  margin-bottom: 0px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio input {
  padding: inherit;
  width: auto;
  margin: 0px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2px;
  margin-right: 7px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio input.fix-pd {
  margin-left: 29px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio input.fix-pd:first-child {
  margin-left: 2px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio span {
  color: #444444;
  font-size: 14px;
  padding-right: 10px;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .form-w .block-input-radio label {
  padding-right: 10px;
  display: inline-block;
}
.from-ldpage .content .content-from .content-from-how .from tr td .form-radio .red {
  margin-top: 39px;
  display: inline-block;
}
.from-ldpage .content .content-from .block-note p {
  font-size: 12px;
  color: #444444;
  font-weight: bold;
  margin: 15px 0px 0px;
}
.from-ldpage .content .content-from .block-note .block-input-radio {
  margin-bottom: 1px;
  line-height: 16px;
}
.from-ldpage .content .content-from .block-note .block-input-radio input {
  padding: inherit;
  width: auto;
  margin: 0px;
  display: inline-block;
  float: left;
  margin-top: 3px;
  margin-right: 5px;
}
.from-ldpage .content .content-from .block-note .block-input-radio label {
  color: #444444;
  font-size: 12px;
  display: inline;
  font-weight: normal;
}
.from-ldpage .content .content-from .block-note span.span {
  display: block;
  color: #444444;
  font-size: 12px;
  margin: 19px 0px 20px;
}
.from-ldpage .content .content-from .block-note .block-button {
  text-align: center;
}
.from-ldpage .content .content-from .block-note .block-button .red {
  color: #ce506f;
  font-size: 14px;
  display: inline-block;
  overflow: hidden;
}
.from-ldpage .content .content-from .block-note .block-button .block-input-check {
  margin-bottom: 16px;
}
.from-ldpage .content .content-from .block-note .block-button .block-input-check .block {
  display: inline-block;
  overflow: hidden;
}
.from-ldpage .content .content-from .block-note .block-button .block-input-check .block input {
  padding: inherit;
  width: auto;
  margin: 0px;
  float: left;
  display: inline-block;
  margin-right: 5px;
  margin-top: 2px;
}
.from-ldpage .content .content-from .block-note .block-button .block-input-check .block label {
  color: #444444;
  font-size: 12px;
  font-weight: normal;
  display: inline;
}
.from-ldpage .content .content-from .block-note .block-button button {
  display: inline-block;
  border: none;
  background-color: #ef801a;
  box-shadow: 0px 6px 0px #c66a19;
  padding: 13px 77px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.from-ldpage .content .content-from .block-note .block-button button:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.from-ldpage .content .content-from .block-note .block-button button:hover,
.from-ldpage .content .content-from .block-note .block-button button:active {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.from-ldpage .content .content-from .block-note .block-button button.style {
  background-color: #ef801a;
  box-shadow: 0px 6px 0px #c66a19;
  padding: 13px 38px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.from-ldpage .content .content-from .block-note .block-button button.style:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.from-ldpage .content .footer-from {
  height: 216px;
  background: url('../img/front/br-21.png') no-repeat center center;
}
.from-ldpage .content .footer-from span {
  display: block;
  width: 100%;
  height: 100%;
  background: url('../img/front/br-20.png') no-repeat center center;
}
@media (max-width: 690px) {
  .from-ldpage .content .footer-from span {
    background-size: 80% auto;
  }
}
.page #head-container {
  padding: 34px 0px 39px;
  overflow: hidden;
}
.page #head-container #logo {
  float: left;
  margin-top: 10px;
}
.page #head-container #logo.float-none {
  float: none;
}
@media (max-width: 690px) {
  .page #head-container #logo {
    margin: 0 auto;
    float: none;
  }
}
@media (max-width: 690px) {
  .page #head-container {
    padding-bottom: 15px;
  }
}
@media (min-width: 1024px) {
  .page .container-fluid {
    width: 984px;
    padding: 0px;
  }
}
.block-button-header {
  float: right;
}
@media (max-width: 690px) {
  .block-button-header {
    float: none;
    margin: 10px auto 0px;
    text-align: center;
    width: 230px;
  }
}
.block-button-header a {
  display: block;
  width: 213px;
  text-align: center;
}
@media (max-width: 690px) {
  .block-button-header a {
    display: inline-block;
  }
}
.block-button-header a img {
  display: inline-block;
}
.block-button-header a.link1 {
  background-color: #f0821e;
  box-shadow: 0px 3px 0px #d67a17;
  padding: 10px 0px 11px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  margin-bottom: 14px;
}
.block-button-header a.link1:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.block-button-header a.link1:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.block-button-header a.link2 {
  background-color: #5f421e;
  box-shadow: 0px 3px 0px #473015;
  padding: 5px 0px 8px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.block-button-header a.link2:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.block-button-header a.link2:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
#menu-page {
  position: relative;
}
@media (max-width: 690px) {
  #menu-page {
    padding-bottom: 10px;
  }
}
#menu-page .icon-menu {
  display: none;
  width: 21px;
  height: 21px;
  background: url('../img/front/icon-menu.png') no-repeat center center;
}
@media (max-width: 690px) {
  #menu-page .icon-menu {
    display: block;
    position: absolute;
    top: -18px;
    left: 6px;
  }
}
@media (min-width: 696px) {
  #menu-page ul {
    display: block !important;
  }
}
@media (max-width: 690px) {
  #menu-page ul {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
    right: 0;
    margin: 0px 5px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 1px 2px 6px rgba(76, 76, 76, 0.61);
  }
}
#menu-page ul li {
  width: 25%;
  float: left;
}
@media (max-width: 690px) {
  #menu-page ul li {
    width: auto;
    float: none;
    padding: 0px 5px;
  }
}
#menu-page ul li a {
  display: block;
  text-align: center;
  border-left: 1px solid #cccbcb;
  height: 59px;
  overflow: hidden;
  text-indent: -9999px;
  z-index: 2;
  position: relative;
}
@media (max-width: 690px) {
  #menu-page ul li a {
    text-align: left;
    border-left: 0px solid #cccbcb;
    border-bottom: 1px solid #cccbcb;
  }
  #menu-page ul li a:before {
    background-position: 10px center !important;
  }
}
#menu-page ul li a img {
  display: inline-block;
}
#menu-page ul li a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
#menu-page ul li a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 3px;
  border-radius: 2px;
  opacity: 0;
  z-index: -1;
  background-color: #f8f8f8 !important;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
#menu-page ul li a:hover:after,
#menu-page ul li a.active:after {
  opacity: 1;
}
#menu-page ul li a.menu1:before {
  background: url('../img/front/menu-1.png') no-repeat center center;
}
#menu-page ul li a.menu2:before {
  background: url('../img/front/menu-2.png') no-repeat center center;
}
#menu-page ul li a.menu3:before {
  background: url('../img/front/menu-3.png') no-repeat center center;
}
#menu-page ul li a.menu4:before {
  background: url('../img/front/menu-4.png') no-repeat center center;
}
#menu-page ul li:last-child a {
  border-right: 1px solid #cccbcb;
}
@media (max-width: 690px) {
  #menu-page ul li:last-child a {
    border: none;
  }
}
.swiper-container .slider-1 {
  background: url('../img/front/br-18.png') repeat 0px 0px;
}
.swiper-container .slider-2 {
  background: url('../img/front/br-ss-1.png') repeat 0px 0px;
}
.swiper-container .slider-3 {
  background: url('../img/front/br-ss-2.png') repeat 0px 0px;
}
.swiper-container .slider-4 {
  background: none #f1f7ee;
}
.swiper-container .swiper-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
}
.swiper-container .swiper-button .container-fluid {
  position: relative;
  height: 100%;
}
.swiper-container .swiper-button .container-fluid .swiper-button-white {
  width: 49px;
  height: 49px;
  background: url('../img/front/icon-np.png') no-repeat 0px 0px;
}
@media (max-width: 690px) {
  .swiper-container .swiper-button .container-fluid .swiper-button-white {
    display: none;
  }
}
.swiper-container .swiper-button .container-fluid .swiper-button-white:hover {
  background: url('../img/front/icon-np-h.png') no-repeat 0px 0px;
}
.swiper-container .swiper-button .container-fluid .swiper-button-white.swiper-button-next {
  background-position: right 0px;
  right: 0px;
}
.swiper-container .swiper-button .container-fluid .swiper-button-white.swiper-button-next:hover {
  background: url('../img/front/icon-np-h.png') no-repeat right 0px;
}
.swiper-container .swiper-button .container-fluid .swiper-button-white.swiper-button-prev {
  left: 0px;
}
.title-page {
  height: 96px;
  background: url('../img/front/title-page.png') no-repeat center center #55ad47;
}
@media (max-width: 690px) {
  .title-page {
    background-size: 90% auto;
    height: 50px;
  }
}
.block-video {
  padding: 31px 0px 33px;
  background: url('../img/front/br-video-1.png') no-repeat center center;
  background-color: #fff;
}
.block-video p.caption {
  text-align: center;
  font-size: 15px;
  color: #5f421e;
  line-height: 26px;
}
@media (max-width: 690px) {
  .block-video p.caption {
    font-size: 13px;
  }
}
.block-video .title-video {
  text-align: center;
  margin: 32px 0px;
}
.block-video .title-video span.icon {
  display: inline-block;
  width: 100px;
  height: 19px;
  margin-bottom: 8px;
  background: url('../img/front/move.png') no-repeat center center;
}
.block-video .title-video h3 {
  font-size: 15px;
  color: #55ad47;
}
@media (max-width: 690px) {
  .block-video .title-video h3 {
    font-size: 13px;
  }
}
.block-video .content-video {
  text-align: center;
}
.block-video .content-video .content-video-how {
  display: inline-block;
  padding: 10px;
  background: url('../img/front/br-video.png') repeat center center;
}
.block-video .content-video .content-video-how object {
  display: block;
  background-color: #fff;
}
@media (max-width: 690px) {
  .block-video .content-video .content-video-how object {
    width: 100%;
    height: auto;
  }
}
.block-list-event {
  padding: 24px 0px;
  background: url('../img/front/br-news.png') repeat center center;
}
.block-list-event ul li {
  float: left;
  width: 32.6%;
  margin-right: 0.9%;
}
.block-list-event ul li:last-child {
  margin-right: 0%;
}
@media (max-width: 690px) {
  .block-list-event ul li {
    width: 100%;
    margin: 0px 0px 10px 0px;
  }
  .block-list-event ul li:last-child {
    margin-bottom: 0px;
  }
}
.block-list-event ul li .block-news {
  padding: 7px 5px 25px 5px;
  border: 1px solid #e9e9e9;
  background-color: #fff;
  position: relative;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}
.block-list-event ul li .block-news .img {
  display: block;
}
.block-list-event ul li .block-news .img img {
  display: block;
}
@media (max-width: 690px) {
  .block-list-event ul li .block-news .img img {
    width: 100%;
    height: auto;
  }
}
.block-list-event ul li .block-news h3 {
  text-align: center;
  padding: 31px 0px 0px;
}
.block-list-event ul li .block-news h3 a {
  font-size: 20px;
  color: #55ad47;
}
.block-list-event ul li .block-news .icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  width: 11px;
  height: 11px;
  background: url('../img/front/icon-news.png') no-repeat center center;
}
.block-list-event ul li .block-news:hover {
  background-color: #54a548;
}
.block-list-event ul li .block-news:hover h3 a {
  color: #fff;
}
.block-list-event ul li .block-news:hover .icon {
  background: url('../img/front/icon-news-w.png') no-repeat center center;
}
.block-list-news {
  background-color: #fff;
  padding: 41px 0px 37px;
}
@media (max-width: 690px) {
  .block-list-news {
    padding: 20px 0px;
  }
}
.block-list-news .title-news {
  text-align: center;
}
.block-list-news .title-news span.icon {
  display: inline-block;
  width: 89px;
  height: 19px;
  margin-bottom: 8px;
  background: url('../img/front/news.png') no-repeat center center;
}
.block-list-news .title-news h3 {
  font-size: 15px;
  color: #55ad47;
}
.block-list-news ul {
  margin-top: 30px;
}
@media (max-width: 690px) {
  .block-list-news ul {
    margin-top: 10px;
  }
}
.block-list-news ul li {
  text-align: center;
  margin-bottom: 9px;
}
.block-list-news ul li span {
  display: inline-block;
  font-size: 15px;
  color: #55ad47;
  padding-right: 24px;
}
.block-list-news ul li a {
  display: inline-block;
  font-size: 15px;
  color: #5e411e;
}
.block-list-news ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 690px) {
  .block-list-news ul li {
    text-align: left;
  }
  .block-list-news ul li span {
    float: left;
    padding-right: 10px;
    font-size: 12px;
  }
  .block-list-news ul li a {
    display: block;
    overflow: hidden;
    font-size: 12px;
  }
}
.block-link-page {
  background-color: #fbe7d3;
  text-align: center;
  padding: 30px 0px 36px;
  position: relative;
}
.block-link-page a {
  display: inline-block;
  background-color: #ef801a;
  box-shadow: 0px 6px 0px #c66a19;
  padding: 25px 45px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.block-link-page a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.block-link-page a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.block-link-page .icon-scroll {
  position: absolute;
  top: -38px;
  left: 50%;
  cursor: pointer;
  margin-left: -33px;
  display: block;
  width: 76px;
  height: 38px;
  background: url('../img/front/icon-scroll.png') no-repeat center center;
}
.block-menu-footer {
  background-color: #fff;
  padding: 42px 0px 35px;
}
@media (max-width: 690px) {
  .block-menu-footer {
    padding: 20px 0px;
  }
}
.block-menu-footer ul {
  overflow: hidden;
}
.block-menu-footer ul li {
  float: left;
  padding: 0px 15px;
}
.block-menu-footer ul li:first-child {
  padding-left: 34px;
}
.block-menu-footer ul li a {
  font-size: 15px;
  color: #60431e;
  display: block;
}
.block-menu-footer ul li a:hover {
  text-decoration: underline;
}
@media (max-width: 690px) {
  .block-menu-footer ul li {
    width: 50%;
    padding: 0px !important;
    padding-bottom: 10px !important;
  }
  .block-menu-footer ul li a {
    font-size: 12px;
  }
}
.footer-page {
  overflow: hidden;
  height: 219px !important;
  background: url('../img/front/footer-br.png') no-repeat center center #4daa48 !important;
}
.footer-page .container-fluid {
  text-align: center;
  padding: 59px 0px 0px;
}
.footer-page .container-fluid img {
  display: inline-block;
}
@media (max-width: 690px) {
  .footer-page .container-fluid img {
    width: 90%;
  }
}
.footer-page .container-fluid p {
  color: #fff !important;
  padding: 23px 0 !important;
  font-size: 12px !important;
}
/* Layout */
@media (min-width: 1024px) {
  .container-fluid {
    width: 980px;
    margin: 0 auto;
  }
}
.welcome-sup-page {
  background-color: #55ad47;
  padding: 13px 0px 12px;
}
.welcome-sup-page h2 {
  font-size: 12px;
  color: #fff;
}
.welcome-sup-page h2 a {
  color: #5e411e;
  text-decoration: underline;
}
.title-sup-page {
  background-color: #fff;
  padding: 30px 0px 42px;
}
.title-sup-page h3 {
  font-size: 24px;
  color: #5f421e;
  padding: 8px 0px 7px;
  padding-left: 8px;
  border-left: 7px solid #55ad47;
}
.title-tab h3 {
  font-size: 20px;
  color: #5f421e;
  padding: 1px 0px 0px;
  padding-left: 8px;
  border-left: 3px solid #55ad47;
}
.title-tab.title-tab-fix-mb {
  margin-bottom: 20px;
}
.title-tab.title-tab-fix-mt {
  margin-top: 20px;
}
/* (User) Login */
.from-login {
  background: url('../img/front/br-04.png') repeat 0px 0px;
  padding: 30px 0px;
}
.from-login .block-note {
  margin-top: 36px;
}
.from-login .from-ldpage .content {
  background: none transparent;
}
.from-login .from-ldpage .content .content-from {
  padding: 29px 32px 58px 30px;
}
.from-login .from-ldpage .content .content-from p.note {
  font-size: 14px;
  color: #444444;
  margin-bottom: 26px;
}
.from-login .from-ldpage .content .content-from p.note.fix-font {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 20px;
}
.from-login .from-ldpage .content .content-from p.note.note-fix {
  margin-top: 16px;
  font-size: 12px;
}
.from-login .from-ldpage .content .content-from p.note a {
  color: #5e411e;
  text-decoration: underline;
}
/* contact */
.menu-sup-page {
  padding: 12px 0px 9px;
}
.menu-sup-page ul {
  overflow: hidden;
}
.menu-sup-page ul li {
  float: left;
  padding-right: 14px;
  position: relative;
}
.menu-sup-page ul li::after {
  content: ">";
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 12px;
  color: #54a548;
}
.menu-sup-page ul li:last-child {
  padding-right: 0px;
}
.menu-sup-page ul li:last-child::after {
  display: none;
}
.menu-sup-page ul li a {
  font-size: 12px;
  color: #5e411e;
  text-decoration: underline;
}
.menu-sup-page ul li a:hover {
  color: #f0821e;
}
.menu-sup-page ul li span {
  font-size: 12px;
  color: #54a548;
}
.title-sup-page-style {
  background-color: #5da854;
}
.title-sup-page-style.style-a {
  background: url('../img/front/bg-style-a.png') no-repeat center center #5da854;
  height: 150px;
  line-height: 150px;
}
.title-sup-page-style.style-b {
  background: url('../img/front/bg-style-b.png') no-repeat center center #5da854;
  height: 150px;
  line-height: 150px;
}
.title-sup-page-style.style-c {
  background: url('../img/front/bg-style-c.png') no-repeat center center #5da854;
  height: 150px;
  line-height: 150px;
}
.title-sup-page-style.style-d {
  background: url('../img/front/bg-style-d.png') no-repeat center center #5da854;
  height: 150px;
  line-height: 150px;
}
.title-sup-page-style h3 {
  font-size: 27px;
  color: #ffffff;
  text-align: center;
  margin-top: 64px;
}
.title-clause {
  padding: 53px 0px 44px;
  background-color: #fff;
  text-align: center;
}
.title-clause h4 {
  font-size: 35px;
  color: #5f421e;
}
@media (max-width: 690px) {
  .title-clause h4 {
    font-size: 25px;
  }
}
.title-clause p {
  font-size: 15px;
  color: #5f421e;
  margin-top: 15px;
}
.list-suppage {
  padding-bottom: 70px;
  background-color: #fff;
}
@media (max-width: 690px) {
  .list-suppage .content-list ul {
    padding: 0px 5px;
  }
}
.list-suppage .content-list ul li:nth-child(odd) {
  background: url('../img/front/br-news.png') repeat center center;
}
.list-suppage .content-list ul li:nth-child(even) {
  background: #fff;
}
.list-suppage .content-list ul li .block-1,
.list-suppage .content-list ul li .block-2 {
  position: relative;
  padding: 31px 29px 5px 111px;
}
.list-suppage .content-list ul li .block-1 span.icon,
.list-suppage .content-list ul li .block-2 span.icon {
  position: absolute;
  top: 60%;
  left: 29px;
  margin-top: -33px;
  display: block;
  width: 67px;
  height: 67px;
  background: url('../img/front/br-16.png') no-repeat 0px 0px;
}
@media (max-width: 690px) {
  .list-suppage .content-list ul li .block-1 span.icon,
  .list-suppage .content-list ul li .block-2 span.icon {
    left: 19px;
  }
}
.list-suppage .content-list ul li .block-1 p,
.list-suppage .content-list ul li .block-2 p {
  min-height: 67px;
  display: table;
  width: 100%;
}
.list-suppage .content-list ul li .block-1 p span,
.list-suppage .content-list ul li .block-2 p span {
  font-size: 25px;
  color: #54a548;
  display: table-cell;
  vertical-align: middle;
}
@media (max-width: 690px) {
  .list-suppage .content-list ul li .block-1 p span,
  .list-suppage .content-list ul li .block-2 p span {
    line-height: 30px;
  }
}
.list-suppage .content-list ul li .block-2 {
  padding-top: 20px;
  padding-bottom: 30px;
}
.list-suppage .content-list ul li .block-2 span.icon {
  background-position: left bottom;
  top: 42%;
}
.list-suppage .content-list ul li .block-2 p span {
  color: #e78721;
  font-size: 25px;
  line-height: 28px;
}
@media (max-width: 690px) {
  .list-suppage .content-list ul li .block-2 p span {
    font-size: 18px;
    line-height: 22px;
  }
}
.content-tab {
  background: url('../img/front/br-04.png') repeat 0px 0px;
  padding: 40px 0px;
}
.content-tab .nav-tabs {
  border: none;
}
.content-tab .nav-tabs li {
  width: 16.66666666%;
  border: none !important;
  float: left;
}
.content-tab .nav-tabs li a {
  display: block;
  margin: 0px 1px 0px 0px !important;
  font-size: 16px;
  padding: 15px 0px 11px;
  color: #fff !important;
  border: none !important;
  text-align: center;
  border-bottom: 3px solid #55ad47 !important;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM4ZjhmOGYiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZlNmY2ZSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #8f8f8f 0%, #6e6f6e 100%);
  background-image: -moz-linear-gradient(top, #8f8f8f 0%, #6e6f6e 100%);
  background-image: -o-linear-gradient(top, #8f8f8f 0%, #6e6f6e 100%);
  background-image: linear-gradient(to bottom, #8f8f8f 0%, #6e6f6e 100%);
}
.content-tab .nav-tabs li:hover a,
.content-tab .nav-tabs li.active a {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNlNTdkMjIiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2UwNjgxYSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #e57d22 0%, #e0681a 100%);
  background-image: -moz-linear-gradient(top, #e57d22 0%, #e0681a 100%);
  background-image: -o-linear-gradient(top, #e57d22 0%, #e0681a 100%);
  background-image: linear-gradient(to bottom, #e57d22 0%, #e0681a 100%);
}
@media (max-width: 990px) {
  .content-tab .nav-tabs li {
    width: 30%;
    margin-bottom: 5px;
  }
}
@media (max-width: 990px) and (max-width: 690px) {
  .content-tab .nav-tabs li {
    width: 50%;
  }
}
.content-tab .nav-tabs:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.content-tab .tab-content {
  background-color: #fff;
  border: none;
  padding: 31px 30px;
}
@media (max-width: 690px) {
  .content-tab .tab-content {
    padding: 10px;
  }
  .content-tab .tab-content .content-from {
    margin: 0px;
  }
}
.content-tab .from-login {
  padding: 0px;
}
.content-tab .from-login .content-from {
  padding: 0px !important;
}
.content-tab .from-login .content-from td {
  border: 1px solid #55ad47 !important;
}
.content-tab .from-login .content-from td.label-text {
  background-color: #eef6ea !important;
}
@media (max-width: 690px) {
  .content-tab {
    padding: 10px 0px;
  }
  .content-tab .container-fluid {
    padding: 5px;
  }
}
.list-table-style {
  margin: 10px 0px 12px;
}
.list-table-style li {
  overflow: hidden;
  margin-bottom: 8px;
}
.list-table-style li p {
  float: left;
  min-width: 200px;
  margin-right: 9px;
}
.list-table-style li p span {
  font-size: 14px;
}
.list-table-style li p span.red {
  color: #ce506f;
}
.button-tab {
  text-align: center;
  margin: 20px 0px 0px;
}
.button-tab .link-tab-1a {
  width: 256px;
  border: none;
  display: inline-block;
  text-align: center;
  background-color: #ef801a;
  box-shadow: 0px 6px 0px #c66a19;
  padding: 16px 0px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.button-tab .link-tab-1a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.button-tab .link-tab-1b {
  width: 256px;
  border: none;
  display: inline-block;
  text-align: center;
  background-color: #c7c7c7;
  box-shadow: 0px 6px 0px #bbbbbb;
  padding: 16px 0px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.button-tab .link-tab-1b:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.table-style.table-style-fix {
  margin-top: 25px;
}
@media (max-width: 690px) {
  .table-style {
    overflow: hidden;
    overflow-x: scroll;
  }
  .table-style table {
    width: 800px !important;
  }
}
.table-style table {
  width: 100%;
}
.table-style table tr {
  /* @media (max-width: 690px) {
				td {
					display: block;
					width: 100% !important;
					padding: 10px !important;
					border: 1px solid #e5e5e4 !important;
				}
			} */
}
.table-style table tr td {
  border: 1px solid #55ad47;
  padding: 11px 10px;
  text-align: center;
  color: #444444;
  font-size: 14px;
}
.table-style table tr td span {
  color: #c34f6a;
}
.table-style table tr td span.style {
  display: inline-block;
  margin-top: 5px;
  color: #fff;
  padding: 2px 11px;
  border-radius: 2px;
  background-color: #e78821;
}
.table-style table tr td.color-a {
  background-color: #55ad47;
  color: #fff;
}
.table-style table tr td.color-b {
  background-color: #eef6ea;
}
.table-style table tr td.text-align {
  text-align: left;
}
.table-style table tr td .delete-file {
  display: inline-block;
  font-size: 19px;
  color: red;
  font-weight: bold;
}
.table-style table tr td .delete-file:hover {
  opacity: 0.5;
}
.upload-file {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.upload-file span {
  font-size: 12px;
  display: block;
  color: #fff !important;
  text-align: center;
  width: 133px;
  border-radius: 3px;
  padding: 6px 0px;
}
.upload-file span.style-a {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNkNTgwMmEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2QxNjkyMSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #d5802a 0%, #d16921 100%);
  background-image: -moz-linear-gradient(top, #d5802a 0%, #d16921 100%);
  background-image: -o-linear-gradient(top, #d5802a 0%, #d16921 100%);
  background-image: linear-gradient(to bottom, #d5802a 0%, #d16921 100%);
}
.upload-file span.style-b {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM5MDkwOTAiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzZjNmQ2YyIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #909090 0%, #6c6d6c 100%);
  background-image: -moz-linear-gradient(top, #909090 0%, #6c6d6c 100%);
  background-image: -o-linear-gradient(top, #909090 0%, #6c6d6c 100%);
  background-image: linear-gradient(to bottom, #909090 0%, #6c6d6c 100%);
}
.upload-file:hover span {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.upload-file input {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.number-button {
  float: right;
  width: 277px;
}
@media (max-width: 690px) {
  .number-button {
    float: none;
    margin: 0 auto 10px;
  }
}
.number-button a {
  width: 133px;
  display: block;
  float: left;
  text-align: center;
  margin-top: 10px;
}
.number-button .link-a {
  background-color: #5f421e;
  box-shadow: 0px 3px 0px #473015;
  padding: 5px 0px 7px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.number-button .link-a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.number-button .link-b {
  float: right;
  background-color: #909090;
  box-shadow: 0px 3px 0px #6d6d6d;
  padding: 5px 0px 7px;
  border-radius: 3px;
  -webkit-transition: all .4s linear;
  -moz-transition: all .4s linear;
  -o-transition: all .4s linear;
  transition: all .4s linear;
}
.number-button .link-b:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}
.content-from .tooltip-inner {
  border-radius: 0px;
  color: #ff0000;
  border: 1px solid #ff0000;
  text-align: left;
  padding: 5px 7px;
  font-size: 12px;
  background-color: #fcd5b5;
}
.content-from .tooltip.right .tooltip-arrow {
  border-right-color: #ff0000;
}
@media (max-width: 990px) {
  .content-from .tooltip {
    position: static !important;
    width: 100%;
    overflow: hidden;
    margin: 7px 0px;
  }
  .content-from .tooltip .tooltip-inner {
    max-width: inherit;
  }
  .content-from .tooltip .tooltip-arrow {
    display: none;
  }
  .content-from .block-input-radio .tooltip {
    position: absolute !important;
    width: 100%;
    overflow: hidden;
    margin: 0px;
  }
  .content-from .block-input-radio .tooltip .tooltip-inner {
    max-width: 200px;
  }
}
.block-warning {
  padding: 7px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  line-height: 30px;
  margin: 10px 0px;
  background-color: #ea8787;
}
.news-detail {
  padding: 30px 0px;
  background-color: #fff;
}
.news-detail .content-news-detail .block-title-news {
  margin-bottom: 20px;
}
.news-detail .content-news-detail .title-news {
  font-size: 20px;
  font-weight: bold ;
  color: #333333;
  margin-bottom: 10px;
}
.news-detail .content-news-detail .times-days {
  display: block;
  font-size: 12px;
  color: #f29500;
}
.news-detail .content-news-detail p {
  margin: 0px 0px 14px;
  font-size: 12px;
  line-height: 22px;
}
.news-detail .block-list-news-detail {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #DADADA;
}
.news-detail .block-list-news-detail h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
}
.news-detail .block-list-news-detail ul li {
  margin-bottom: 10px;
  text-align: left;
}
.news-detail .block-list-news-detail ul li a {
  font-size: 15px;
  color: #60431e;
  display: inline-block;
}
.news-detail .block-list-news-detail ul li a:hover {
  text-decoration: underline;
}
.news-detail .block-list-news-detail ul li .times-days {
  display: inline-block;
  font-size: 15px;
  color: #55ad47;
  padding-right: 24px;
}
.block-flow,
.block-home {
  text-align: center;
  background-color: #fff;
}
.block-flow img,
.block-home img {
  display: inline-block;
}
.block-flow .title-block-home,
.block-home .title-block-home {
  margin-bottom: 40px;
}
.block-flow .block-home-step,
.block-home .block-home-step {
  border-top: 1px solid #e5e5e4;
}
@media (max-width: 690px) {
  .block-flow,
  .block-home {
    padding: 0px 10px;
  }
}
/*wrapper*/
#wrapper {
  height: auto;
  margin: 0 auto -60px;
  min-height: 100%;
  padding: 0 0 60px;
}
/*----- Header -----*/
/*----- Content -----*/
#content-container {
  background-color: #eee;
  min-height: 100%;
}
/*----- Footer -----*/
#footer-container {
  color: #fff;
  height: 60px;
  background-color: #fff;
}
#footer-container p {
  padding: 28px 0;
  text-align: center;
  font-size: 14px;
  color: #55ad47;
}
/*Media Query*/
@media (max-width: 850px) {
  .left-content,
  .main-content {
    margin-bottom: 20px;
  }
  #content-container {
    overflow: hidden;
    padding: 0px 5px;
  }
}
